*{
   
    margin:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column-reverse;
}
.container .box{
    border: 0.1rem solid #b5b5b5;
    width: 20rem;
    height: 20rem;
    display: table;

}

.container input{
    width: 20rem;
    height: 3rem;
}

.container button{
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.1rem;
}

#input{
    display: flex;
}